@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  /* Shared */
  --max-width: 1200px;
  --border-radius: 1rem;
  --containers-color: #9a95e3;
  --headings-color: #f7f425;
  --complementary-color: #595496;
  --blur: 40px;
  --start-final-side-margins: 1rem 2rem;
  --headings-bottom-margin: 2rem;
  --text-margin-bottom: 1rem;
  --button-padding: 1rem;

  /* Header Variables */
  --nav-items-margin: 2rem;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

html,
body {
  max-width: 100vw;
  font-family: "Josefin Sans", sans-serif;
}

button {
  font-family: "Josefin Sans", sans-serif;
  color: black;
}

h1,
h2,
h3 {
  color: var(--headings-color);
  font-weight: 700;
}

h1 {
  font-size: 70px;
  text-shadow: -2px 0 var(--complementary-color),
    0 2px var(--complementary-color), 1px 0 var(--complementary-color),
    0 -1px var(--complementary-color);
}

h2 {
  font-size: 50px;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 30px;
  }
}
